*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: #434c59;
  color: azure;
  padding: 1rem;
  font-size: 16px;
}
#root {
  display: flex;
  flex-direction: column;
}
.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 40rem;
  margin: auto;
}
h1 {
  text-align: center;
  padding: 1.24rem;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.form-row input {
  padding: 0.64rem;
  background: transparent;
  border: 0.2rem solid aliceblue;
  color: aliceblue;
}
.button {
  background-color: orange;
  border: none;
  color: aliceblue;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.16rem;
}
.list {
  text-align: center;
}
ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
  padding-bottom: 1rem;
}
ul li input {
  width: 2.5rem;
  aspect-ratio: 1/1;
}
ul li label {
  display: inherit;
  gap: 0.64rem;
  border: 0.2rem solid aliceblue;
  width: 100%;
  max-width: 40rem;

  padding: 0.64rem;
}
ul li button {
  display: flex;
  width: 2.5rem;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.button-edit {
  background-color: green;
}
